.actionbar {
    margin-bottom: 20px;

    .button-group {
        .active {
            color: $brand-primary;
        }
    }

    .separator {
        margin-left: 5px;
        margin-right: 5px;
    }
}
