.actionbar {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 20px;
    h5 {
        margin: 7px 0;
    }
    .links {
        .nav-tabs > li > a,
        .nav-tabs > li > a:focus {
            @include box-shadow(inset 0 -1px 0 transparent);
        }
        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:focus {
            @include box-shadow(inset 0 -2px 0 $brand-primary);
        }
        .nav-tabs > li > a {
            font-size: 14px;
            padding-bottom: 12px;
        }
    }
    .controls {
        .form-control {
            margin-bottom: 0;
        }
        .btn, input, .form-group {
            margin-bottom: 10px;
        }
    }
    .separator {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 767px) {
    .actionbar {
        border-bottom: none;
        .links {
            .nav-tabs {
                margin-bottom: 10px;
                border-bottom: 1px solid $gray-lighter;
            }
        }
    }
}
