.actionbar {
    padding-bottom: 20px;
    border-bottom: 1px solid lighten($brand-gray, 30%);
    margin-bottom: 20px;

    p.lead {
        margin-bottom: 0;
        padding: 5px 0;
    }

    .button-group {
        .active {
            color: $brand-primary;
        }
    }

    .separator {
        margin-left: 5px;
        margin-right: 5px;
    }
}
