.avatar-lg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.avatar-md {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.avatar-sm {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.avatar-xs {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
