.comments {
    .comment-input {
        margin-bottom: 40px;
    }
    .comments-list {
        .comment {
            padding-bottom: 10px;
            border-bottom: 1px solid $gray-lighter;
        }
    }
}
