.vue-clip-btn {
    display: inline-block;
    div {
        display: inline-block;
    }
}

.vue-clip-avatar {
    display: block;
    div {
        display: block;
    }
    .dz-message {
        position: relative;
        text-align: center;
        .fa-stack {
            cursor: pointer;
            position: absolute;
            bottom: 0;
            margin-left: -35px;
        }
    }
}

.vue-clip-photo {
    display: inline-block;
    border: 2px dashed $gray-light;
    div {
        display: inline-block;
    }
    .dz-message {
        padding: 12px 13px;
    }
}

.vue-clip-block {
    display: block;
    div {
        display: block;
    }
}

.vue-clip-queue {
    .media-left {
        .media-object {
            width: 50px;
            height: 50px;
        }
        i {
            padding-left: 3px;
            padding-right: 2px;
        }
    }
    .media-body {
        .media-heading {
            font-size: 14px;
            margin-bottom: 0px;
        }
        a {
            color: inherit;
            margin-right: 8px;
        }
    }
}
