.contacts {
    .table {
        > tbody > tr:first-child > td {
            border-top-color: transparent;
        }
        img {
            border-radius: 50%;
            height: 35px;
            width: 35px;
            margin-right: 10px;
        }
    }
    .panel-body {
        img {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            margin-right: 10px;
        }
    }
    .modal {
        .modal-header {
            img {
                border-radius: 50%;
                height: 100px;
                width: 100px;
                margin-left: 15px;
                margin-right: 15px;
                -webkit-box-shadow: 0 0 1px 6px #e8e8e8;
                box-shadow: 0 0 1px 6px #e8e8e8;
            }
        }
        .modal-body {
            padding: 30px;
            ul {
                margin: 25px;
                li {
                    margin-bottom: 15px;
                    i {
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}
