.navbar {
  .dropdown, .breadcrumb {
    display: inline-block;
  }
  .menu {
    padding-top: 13px;
    padding-bottom: 13px;
    a {
      text-decoration: none;
      svg {
        height: 20px;
        margin-bottom: -5px;
        path{
          -webkit-transition: (all .2s ease);
          transition: (all .2s ease);
        }
        path:hover {
          fill: darken($brand-orange, 15%);
        }
      }
    }
  }
  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
  }
  .user {
    padding-top: 7px;
    padding-bottom: 7px;
    a {
      color: inherit;
      text-decoration: none;
      img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}

.main {
    // margin-top: 60px;
    padding: 0 !important;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

*{
  outline: none;
}

.btn-type {
    border-color: $brand-primary !important;
}
.btn-type .glyphicon{
    color: $brand-primary;
}
