.navbar-brand {
  svg {
    height: 20px;
    margin-bottom: -3.5px;
    margin-right: 10px;

    path{
      //@include transition(all .2s ease);
    }

    path:hover {
      //fill: lighten($orange, 20%);
    }
  }
}
.navbar-right {
  .dropdown {
    a {
      padding-top: 7px;
      padding-bottom: 7px;
      img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}

.main {
    margin-top: 60px;
}

.btn-type {
    border-color: $brand-primary !important;
}
.btn-type .glyphicon{
    color: $brand-primary;
}
