.dashboard {
    .panel-dashboard {
        > .panel-heading {
            background-color: #fff;
            p {
                display: inline-block;
                border-left: 2px solid $brand-orange;
                padding-left: 14px;
            }
            a {
                color: $brand-orange !important;
            }
        }
    }
}
