.files {
    .table {
        img {
            display: inline-block;
            width: 35px;
            height: 35px;
            margin-right: 10px;
        },
        i {
            margin-right: 10px;
        }
    }
}
