.news,
.dashboard {
    .panel-default {
        .fa-cloud-upload {
            font-size: 3em
        }
        a {
            color: #636b6f;
        }
        .panel-heading {
            img {
                border-radius: 50%;
                height: 30px;
                width: 30px;
                margin-right: 8px;
            }
        }
        .panel-footer {
            background-color: #fff;
            > a {
                margin-right: 10px;
            }
        }
    }
}

.dashboard .news {
    .panel-body {
        padding: 0 10px !important;
        p {
            margin-bottom: 0;
        }
    }
}
