.profile {
    .panel-body {
        .text-center {
            img {
                width: 120px;
                height: 120px;
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 0;
            }
        }
        .list-unstyled li {
            margin-bottom: 8px;
            i {
                margin-right: 10px;
            }
        }
        .nav-tabs {
            margin-bottom: 20px;
        }
    }
}
