.profile-sidebar {
    img {
        width: 120px;
        height: 120px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 0;
    }
    li {
        a {
            color: inherit;
            border-radius: 0;
            i {
                margin-right: 10px;
            }
        }
    }
}
.profile-content {
    img {
        width: 120px;
        height: 120px;
    }
    dl {
        margin-bottom: 15px;
    }
}
