.table {
    img {
        border-radius: 50%;
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }
    p {
        margin-bottom: -6px;
    }
    td:last-child .btn-group {
        opacity: 0;
    }
    tr:hover td:last-child .btn-group {
        opacity: 1;
    }
    .chip {
        display: inline-block;
        padding: 0 15px;
        height: 30px;
        line-height: 30px;
        border-radius: 25px;
    }
}
