//== Colors


//## Gray and brand colors for use across Bootstrap.

$gray-base:    #000 !default;
$gray-darker:  lighten($gray-base, 13%) !default;
$gray-dark:    lighten($gray-base, 20%) !default;
$gray:         lighten($gray-base, 33%) !default;
$gray-light:   lighten($gray-base, 60%) !default;
$gray-lighter: lighten($gray-base, 93%) !default;

$white:  #fff;
$orange: #FEAE3B;


$brand-primary: #feae3b;
$brand-info:    #7e76ee;
$brand-success: #389E70;
$brand-warning: #FED33A;
$brand-danger:  #FF5D5D;


// Eliminar estos

$brand-gray: #95989A;
$brand-grayer: #CECECE;
$inactive: #DDDADA;
$hovered: #f9fafb;
// Eliminar estos

//** Background color for `<body>`.
$body-bg: #FAFAFA;

//** Global text color on `<body>`.
$text-color: darken($brand-gray, 20%);

//== Typography

//** By default, this inherits from the `<body>`.
$headings-color: darken($brand-gray, 10%);

//== Panels
$panel-default-text:       darken($brand-gray, 10%);
$panel-default-heading-bg: $white;

//== Buttons
.btn-orange {
    color: #fff;
    background-color: $orange;
}

// mdi icons
.mdi-10x, .mdi-size-10x {
    font-size: 10em;
}

// Avatars
.avatar-md {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.avatar-sm {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

// Dropzone
.dropzone {
    .material-icons {
        font-size: 5em
    }
}

// Scrollbar
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}
