// Body
$body-bg: #FAFAFA;

// Brands
$brand-primary: #FEAE3B;
$brand-info: #7e76ee;
$brand-success: #389E70;
$brand-warning: #FED33A;
$brand-danger: #d16262;
$brand-orange: #FEAE3B;
$brand-gray: #95989A;
$brand-grayer: #CECECE;
$inactive: #DDDADA;
$hovered: #f9fafb;

// Typography
$text-color: darken($brand-gray, 20%);
$headings-color: darken($brand-gray, 10%);

// mdi icons
.mdi-10x, .mdi-size-10x {
    font-size: 10em;
}

// Avatars
.avatar-md {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.avatar-sm {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

// Dropzone
.dropzone {
    .material-icons {
        font-size: 5em
    }
}
