//== Colors


//## Gray and brand colors for use across Bootstrap.

$gray-base:    #000 !default;
$gray-darker:  lighten($gray-base, 13%) !default;
$gray-dark:    lighten($gray-base, 20%) !default;
$gray:         lighten($gray-base, 33%) !default;
$gray-light:   lighten($gray-base, 60%) !default;
$gray-lighter: lighten($gray-base, 93%) !default;

$white:  #fff;
$orange: #FEAE3B;


$brand-primary: #4CB7FA;
$brand-info:    #7e76ee;
$brand-success: #389E70;
$brand-warning: #FED33A;
$brand-danger:  #FF5D5D;

//== Typography


// Eliminar estos

$brand-gray: #95989A;
$brand-grayer: #CECECE;
$inactive: #DDDADA;
$hovered: #f9fafb;
// Eliminar estos

//** Background color for `<body>`.
$body-bg: #FAFAFA;

//** Global text color on `<body>`.
$text-color: darken($brand-gray, 20%);

//== Typography

//** By default, this inherits from the `<body>`.
$headings-color: darken($brand-gray, 10%);

//== Panels
$panel-default-text:       darken($brand-gray, 10%);
$panel-default-heading-bg: $white;

// mdi icons
.mdi-10x, .mdi-size-10x {
    font-size: 10em;
}
.mdi-avatar-md {
    font-size: 9em;
}

// Avatars
.avatar-lg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.avatar-md {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.avatar-sm {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.avatar-xs {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
