//== Colors


//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$white: #fff;
$orange: #FEAE3B;


$brand-primary: #FEAE3B;
$brand-info: #7e76ee;
$brand-success: #389E70;
$brand-warning: #FED33A;
$brand-danger: #d16262;


// Eliminar estos

$brand-gray: #95989A;
$brand-grayer: #CECECE;
$inactive: #DDDADA;
$hovered: #f9fafb;
// Eliminar estos

//** Background color for `<body>`.
$body-bg: #FAFAFA;

//** Global text color on `<body>`.
$text-color: darken($brand-gray, 20%);

//== Typography

//** By default, this inherits from the `<body>`.
$headings-color: darken($brand-gray, 10%);

//== Panels
$panel-default-text: darken($brand-gray, 10%);
$panel-default-heading-bg: $white;

// mdi icons
.mdi-10x, .mdi-size-10x {
    font-size: 10em;
}

// Avatars
.avatar-md {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.avatar-sm {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

// Dropzone
.dropzone {
    .material-icons {
        font-size: 5em
    }
}
