// Body
$body-bg: #F7F7F7;

// Brands
$brand-primary: #FEAE3B;
$brand-info: #7e76ee;
$brand-success: #389E70;
$brand-warning: #FED33A;
$brand-danger: #d16262;
$brand-orange: #FEAE3B;
$brand-gray: #95989A;
$brand-grayer: #CECECE;
$inactive: #DDDADA;


$text-color: $brand-gray;

// Typography
// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Helvetica Neue", "Raleway", sans-serif;
// $font-size-base: 14px;
// $line-height-base: 1.6;
// $text-color: #636b6f;

// ** Bootstrap Overwrites
// .btn-warning, .btn-success, .btn-primary, .btn-danger{
//   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)!important;
// }

// p,h1,h2,h3,h4,h5,h6,span{
//     color: $brand-gray !important;
// }

// .navbar, .panel{
//     box-shadow: 0px 3px 6px rgba(0,0,0,.16)!important;
// }
