
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Fontawesome
@import "node_modules/font-awesome/scss/font-awesome";

// Material+Icons
@import "node_modules/bootstrap-material-design-icons/scss/material-icons";

// Variables
@import "variables";
@import "node_modules/bootswatch/paper/_variables";

// sweetalert
@import "node_modules/sweetalert/dev/sweetalert";

// swiper
@import "node_modules/swiper/dist/css/swiper";

// vue-notify
@import "~vue-snotify/styles/material";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootswatch Paper
@import "node_modules/bootswatch/paper/_bootswatch";

// Bootstrap
@import 'bootstrap/breadcrumb';
@import 'bootstrap/content';
@import 'bootstrap/forms';
@import 'bootstrap/lists';
@import 'bootstrap/modals';
@import 'bootstrap/navbar';
@import 'bootstrap/tables';
@import 'bootstrap/panels';

// Modules
@import 'modules/auth';
@import 'modules/profile';
@import 'modules/dashboard';
@import 'modules/news';
@import 'modules/contacts';
@import 'modules/files';
@import 'modules/tasks';

// Components
@import 'components/actionbar';
@import 'components/header';
@import 'components/filters';
@import 'components/widgets';
