.auth {
    padding: 0;
    margin: 0;
    margin-top: -85px;
    .row {
        margin: 0
    }
    .left-pane {
        height: 100vh;
        // padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/img/bg/bg-banner.png);
        color: white;
        .mdi {
            color: $orange;
        }
        .swiper-slide > div {
            margin: auto 40px;
            h3, p{
                color: white;
            }
        }
    }
    .right-pane {
        height: 100vh;
        background: white;
        // padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
            width: 80%;
            .logo {
                margin-bottom: 60px;
                text-align: center;
                img {
                    max-height: 40px;
                }
            }
            form {
                .form-group {
                    margin-bottom: 20px;
                }
                .input-lg {
                    font-size: 17px !important;
                }
            }
            .alert {
                margin-top: 40px
            }
        }

    }
}
