.autoparts-list {
    .media {
        padding: 10px 8px 20px;
        border-bottom: 1px solid $gray-lighter;
        &:hover {
            background-color: $gray-lighter;
        }
        .media-left {
            position: relative;
            .label {
                position: absolute;
                right: 20px;
                bottom: -3px;
            }
            .img-rounded {
                background-color: $white;
                margin-right: 15px;
                text-align: center;
                height: 100px;
                width: 100px;
                i {
                    font-size: 5em;
                    margin-top: .25em;
                }
            }

        }
        .media-body {
            h5 small {
                font-size: 12px;
                margin-top: 8px;
            }
        }
    }
}

.autoparts-item {
    .modal-body {
        .swiper-container {
            margin-bottom: 25px;
            .swiper-slide {
                text-align: center;
                img {
                    max-width: 100%;
                    height: 250px;
                }
            }
        }
        .images {
            padding: 10px 0;
            display: inline;
            .image {
                margin: 5px;
                display: inline-block;
                position: relative;
                &last {
                    margin-right: 0
                }
                .btn-delete {
                    position: absolute;
                    top: -8px;
                    right: -3px;
                    color: inherit;
                }
                img {
                    border: 1px solid $gray-lighter;
                    width: 50px;
                    height: 50px;
                }
                .progress {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-bottom: 0;
                    .progress-bar:last-child {
                        border-radius: 0;
                    }
                }
            }
        }
        .img-rounded {
            background-color: $white;
            text-align: center;
            height: 250px;
            width: 100%;
            i {
                font-size: 14em;
                margin-top: .2em;
            }
        }
        p {
            margin-bottom: 0;
        }
        h4 small {
            font-size: 12px;
            margin-top: 8px;
            margin-right: 5px;
        }
    }
}

.autoparts-qr {
    .qrcode-reader {
        min-height: 195px;
        .qr-scanner-back {
            background-color: rgba(0, 0, 0, .2);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
        .qr-scanner {
            background-color: rgba(255, 255, 255, .1);
            position: absolute;
            top: 50%;
            left: 50%;
            height: 200px;
            width: 200px;
            transform: translate(-50%, -50%);

            span {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 2px;
                background-color: rgba(254, 174, 59, .5);
                animation: scanning 3s infinite;
            }
            @keyframes scanning {
                50% {
                    transform: translateY(198px);
                }
            }
            &:before,  &:after, em:after, em:before {
                border-color: $gray;
                content: "";
                position: absolute;
                width: 25px;
                height: 25px;
                border-style: solid;
                border-width: 0px;
            }
            &:before {
                left: 0;
                top: 0;
                border-left-width: 1px;
                border-top-width: 1px;
            }
            &:after {
                right: 0;
                top: 0;
                border-right-width: 1px;
                border-top-width: 1px;
            }
            em:before {
                left: 0;
                bottom: 0;
                border-left-width: 1px;
                border-bottom-width: 1px;
            }
            em:after {
                right: 0;
                bottom: 0;
                border-right-width: 1px;
                border-bottom-width: 1px;
            }
        }
        .qr-error {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 18px;
        }
    }
}

.autoparts-lists {
    ul.list-group {
        .list-group-item {
            .fa-chevron-down {
                margin-right: 10px;
            }
            .badge {
                float: none;
            }
        }
    }
}
