.autoparts {
    .media {
        padding: 10px;
        border-bottom: 1px solid $gray-lighter;
        &:hover {
            background-color: $gray-lighter;
        }
        .media-left {
            padding-right: 20px;
            img {
                height: 100px;
                width: 100px;
            }
        }
    }


    .modal {
        .swiper-container {
            height: 200px;
            .swiper-slide {
                img {
                    width: 100%;
                }
            }
        }
        .swiper-pagination-bullet-active {
            background: $white;
        }

        .images {
            padding: 10px 0;
            .image {
                margin-right: 10px;
                display: inline-block;
                position: relative;
                &last {
                    margin-right: 0
                }
                .btn-delete {
                    position: absolute;
                    top: -8px;
                    right: -3px;
                    color: inherit;
                }
                img {
                    border: 1px solid $gray-lighter;
                    width: 50px;
                    height: 50px;
                }
                .progress {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-bottom: 0;
                    .progress-bar:last-child {
                        border-radius: 0;
                    }
                }
            }
        }
    }
}
