.autoparts {
    .media {
        padding: 10px;
        border-bottom: 1px solid $gray-lighter;
        &:hover {
            background-color: $gray-lighter;
        }
        .media-left {
            min-width: 120px;
            padding-right: 20px;
            text-align: center;
            img {
                height: 100px;
                width: 100px;
            }
        }
    }

    .modal {
        .swiper-container {
            // height: 200px;
            margin-bottom: 15px;
            .swiper-slide {
                text-align: center;
                img {
                    // width: 100%;
                    height: 250px;
                }
            }
        }

        .images {
            padding: 10px 0;
            display: inline;
            .image {
                margin-right: 10px;
                margin-bottom: 10px;
                display: inline-block;
                position: relative;
                &last {
                    margin-right: 0
                }
                .btn-delete {
                    position: absolute;
                    top: -8px;
                    right: -3px;
                    color: inherit;
                }
                img {
                    border: 1px solid $gray-lighter;
                    width: 50px;
                    height: 50px;
                }
                .progress {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-bottom: 0;
                    .progress-bar:last-child {
                        border-radius: 0;
                    }
                }
            }
        }
    }

    &.config {
        ul.list-group {
            .mdi-more-vert {
                cursor: move;
                margin-right: 10px;
            }
            .fa-chevron-down {
                margin-left: 20px;
            }
        }
    }
}
