.auth {
    padding: 0;
    margin: 0;
    margin-top: -85px;
    .row {
        margin: 0
    }
    .left-pane {
        height: 100vh;
        padding-top: 5%;
        padding-left: 50px;
        padding-right: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/img/bg/bg-banner.png);
        color: white;
        .mdi {
            color: $orange;
        }
        .swiper-slide > div {
            margin: auto 40px;
            h3, p{
                color: white;
            }
        }
        .swiper-button-white {
            bottom: 30px;
            top: inherit;
        }
    }
    .right-pane {
        height: 100vh;
        background: white;
        padding: 0 50px;
        .logo {
            margin-top: 40px;
            margin-bottom: 60px;
            text-align: center;
            svg, img {
                max-width: 250px;
                max-height: 100px;
            }
        }
        form {
            .form-group {
                margin-bottom: 30px;
            }
        }
        .input-lg {
            font-size: 17px !important;
        }
        .alert {
            margin-top: 40px
        }
    }
}
