.contacts {
    .table {
        > tbody > tr:first-child > td {
            border-top-color: transparent;
        }
    }

    .thumbnail {
        background-color: $white;
        text-align: center;
        .avatar-md {
            margin-top: 20px;
            margin-bottom: 10px;
        }
        h4 {
            margin-bottom: 0;
        }
    }
}

.modal-contacts {
    .contact-heading {
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-lighter;
        h4 {
            margin-bottom: 0;
        }
    }
    .contact-body {
        padding: 20px;
    }
}
