.dashboard {
    .panel {
        .news {
            .panel {
                margin-bottom: 0;
            }
        }
    }
    .panel-dashboard {
        > .panel-heading {
            a {
                font-size: 14px;
                color: $orange !important;
            }
        }
    }
}
