.events {
    .table {
        > tbody > tr:first-child > td {
            border-top-color: transparent;
        }

        .media {
            .media-left {
                padding-right: 20px;
            }
            .media-body {
                .media-heading {
                    font-size: 18px;
                }
                .event-info {
                    margin-top: 10px;
                    text-align: right;
                }
            }
        }
    }
}
