.events {
    .thumbnail {
        padding: 0;
        position: relative;
        .btn-edit {
            position: absolute;
            top: 10px;
            right: 10px;
            color: $white;
            &:hover {
                color: $orange;
            }
        }
        .heading {
            display: block;
            color: inherit;
            height: 130px;
            background-size: cover;
            background-position: center center;
        }
        .caption {
            position: relative;
            min-height: 130px;
            padding-top: 20px;
            .avatar-sm {
                position: absolute;
                top: -45px;
                right: 20px;
            }
            h3 {
                font-size: 20px;
                margin: 0;
            }
            p {
                margin: 0;
            }
            div {
                margin-top: 10px;
            }
        }
    }

    .modal {
        .btn-attachments {
            i {
                margin-right: 10px;
            }
        }
        .vue-clip-queue {
            padding: 0 40px;
            .media-left {
                .media-object {
                    width: 100px;
                    height: 57px;
                }
            }
        }
    }
}

.event {
    .panel {
        .swiper-slide {
            height: 400px;
            overflow: hidden;
        }
        .media {
            .media-left {
                padding-right: 30px;
            }
            .media-body {
                .date {
                    margin-top: 20px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
        .panel-footer {
            background-color: $white;
            padding-bottom: 40px;
        }
    }
}
