.files {
    .table {
        td {
            cursor: default;
            a {
                color: inherit;
                img {
                    width: 30px;
                    height: 30px;
                    float: left;
                    margin-right: 15px;
                }
                .fa-folder-o, .fa-file-o {
                    float: left;
                    margin-right: 10px;
                }
            }
        }
    }

    .thumbnail {
        background-color: $white;
        .thumbnail-heading {
            display: block;
            text-align: center;
            text-decoration: none;
            color: inherit;
            min-height: 100px;
            img {
                max-height: 100px;
            }
            i {
                font-size: 6em;
            }
        }
        .caption {
            a {
                color: inherit;
                p {
                    margin-bottom: -6px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                small {
                    font-size: 10px;
                }
            }

        }
    }

    .file-info {
        padding: 30px 0;
        .file-info-heading {
            height: 150px;
            text-align: center;
            img {
                width: 150px;
                height: 150px;
            }
            i {
                font-size: 10em;
            }
        }
        > hr {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .file-info-body {
            padding: 0 20px;
            .lead {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                padding-right: 30px;
                a {
                    color: inherit;
                    position: absolute;
                    right: 0;
                }
            }
            .form-group {
                margin-bottom: 20px;
            }
            .dl-horizontal {
                dt {
                    text-align: left;
                }
                dd {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
