.profile, .profile-edit {
    padding-top: 20px;
}

.profile-sidebar {
    p {
        margin-top: 10px;
        margin-bottom: 0;
    }
    li {
        a {
            color: inherit;
            border-radius: 0;
            i {
                margin-right: 10px;
            }
        }
    }
    .list-unstyled li {
        margin-bottom: 8px;
        i {
            margin-right: 8px;
        }
    }

}
.profile-content {
    dl {
        margin-bottom: 15px;
    }
}
