.tasks {
    .list-group {
        .btn-default{
            color: #fff;
        }
        .btn-default {
            background-color: $orange;
        }
        .list-group-item {
            border: none;
            .my-handle {
                cursor: move;
            }
            a, .my-handle i {
                color: $orange;
            }
            .task-done {
                text-decoration: line-through;
            }
            .close, .my-handle {
                opacity: 0;
                transition: opacity .2 ease;
            }
            &:hover .close, &:hover .my-handle{
                opacity: 1;
            }
            .fa {
                vertical-align: middle !important;
            }
            &:hover {
                background-color: $hovered;
            }
        }

    }
}
