.users {
    .modal {
        .modal-body {
            img {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                // -webkit-box-shadow: 0 0 1px 6px #e8e8e8;
                // box-shadow: 0 0 1px 6px #e8e8e8;
            }
            i {
                // border-radius: 50%;
                // -webkit-box-shadow: 0 0 1px 6px #e8e8e8;
                // box-shadow: 0 0 1px 6px #e8e8e8;
            }
        }
    }
}
